/* reset */
* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 10pt;
	font-family: "Tahoma", "Arial", sans-serif;
}

/* layout */

#wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

#user_info {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

#user_info p {
	margin: 1.5em auto;
	max-width: 1000px;
	text-align: right;
}

.b-info {
	padding: 1em 0;
}

/* styles */

a {
	color: #2f4f4f;
}

#user_info p {
	font-size: 12pt;
}

.b-form input, .b-form label {
	display: block;
}

.b-form label {
	margin-top: 0.5em;
}

.b-button__big {
	border: green 1px solid;
	border-radius: 5px;
	padding: 0.5em 1em;
	margin: 0.5em 0;
}

a.b-button__big {
	text-decoration: none;
	color: green;
	font-weight: bold;
}

a.b-button__big:hover {
	color: white;
	background-color: green;
}

h2 {
	font-size: 14pt;
	margin-top: 1em;
}