/* reset */
* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 10pt;
	font-family: "Tahoma", "Arial", sans-serif;
}

/* layout */

#wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

#user_info {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

#user_info p {
	margin: 1.5em auto;
	max-width: 1000px;
	text-align: right;
}

.b-info {
	padding: 1em 0;
}

/* styles */

a {
	color: #3e3e3e;
}

#user_info p {
	font-size: 12pt;
}

.b-form input, .b-form label {
	display: block;
}

.b-form label {
	margin-top: 0.5em;
}

.b-button__big {
	border: green 2px solid;
	border-radius: 5px;
	padding: 0.5em 1em;
	margin: 0.5em 0;
	font-size: 14pt;
}

a.b-button__big {
	text-decoration: none;
	color: green;
	font-weight: bold;
}

a.b-button__big:hover {
	color: white;
	background-color: green;
}

h2 {
	font-size: 14pt;
	margin-top: 1em;
}

h3 {
	font-size: 12pt;
	margin-top: 1em;
}

.b-list__files {
	width: 100%;
	border: #3e3e3e 1px solid;
	border-collapse: collapse;
}

.b-list__files td, .b-list__files th {
	text-align: center;
	padding: 0.5em 0.5em;
}

	.b-list__files th {
		background-color: #3e3e3e;
		color: white;
	}

		.b-list__files th a {
			color: white;
			text-decoration: underline;
		}

	.b-list__files td.left, .b-list__files th.left {
		text-align: left;
	}

	.b-list__files tbody tr:hover {
		background-color: #f2f2f2;
	}

.b-link__download {
	font-weight: bold;
}

.b-pages {
	margin-top: 1em;
}

.b-pages a.b-link__pages {
	padding: 0.4em;
	color: white;
	background-color: #3e3e3e;
	border: #3e3e3e 1px solid;
}
	.b-pages a.b-link__pages:hover {
		background-color: white;
		color: #3e3e3e;
	}

dl {
	margin-top: 1em;
}

dd {
	padding-left: 4em;
	font-weight: bold;
}

.b-comment {
	margin-top: 0.2em;
}
	.b-comment .b-text__comment {
		font-size: 1.1em;
		padding: 0.2em 0;
	}

.b-comment:hover {
	background-color: #f2f2f2;
}

.b-comment__thread_start {
	margin-top: 1em;
}

.b-message__error {
	border: 1px solid red;
	background-color: red;
	border-radius: 5px;
	font-size: 16pt;
	padding: 0.5em;
	margin: 0.5em 0;
	color: white;
}

.b-message__ok {
	border: 1px solid green;
	background-color: green;
	border-radius: 5px;
	font-size: 16pt;
	padding: 0.5em;
	margin: 0.5em 0;
	color: white;
}

.b-message__info, .b-message__info a {
	border: 1px solid #007aba;
	background-color: #007aba;
	border-radius: 5px;
	font-size: 16pt;
	padding: 0.5em;
	margin: 0.5em 0;
	color: white;
}

.b-options label {
	margin: 1em 1em 1em 0;
	display: inline-block;
}